/* Colors */
$c-white: #fff;
$c-ash: #f0f2f4;
$c-gray: #8c959c;
$c-asphalt: #3a3e41;
$c-amethyst: #7965b2;
$c-tomato: #df5b56;
$c-salad: #a4c424;

/* Font-sizes */
$s-txt-large: 48px;
$s-txt-big: 30px;
$s-txt-main: 18px;
$s-txt-small: 12px;

/* Fonts */
$f-medium: "Montserrat Medium", "Arial";
